<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile
                name="ChatGptLog"
                fileName="${sys:user.home}/bbs-logs/bbs-chatgpt.log"
                filePattern="${sys:user.home}/bbs-logs/bbs-chatgpt.%d{yyyy-ww}.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS zzz} %p %c{1} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="30" />
        </RollingFile>

        <RollingFile
                name="HumanChatLog"
                fileName="${sys:user.home}/bbs-logs/bbs-humanchat.log"
                filePattern="${sys:user.home}/bbs-logs/bbs-humanchat.%d{yyyy-ww}.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS zzz} %p %c{1} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="30" />
        </RollingFile>

        <RollingFile
                name="IpGeolocation"
                fileName="${sys:user.home}/bbs-logs/bbs-ipgeolocation.log"
                filePattern="${sys:user.home}/bbs-logs/bbs-ipgeolocation.%d{yyyy-MM-dd}.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS zzz} %p %c{1} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="30" />
        </RollingFile>

        <RollingFile
                name="SuspiciousIp"
                fileName="${sys:user.home}/bbs-logs/bbs-suspiciousip.log"
                filePattern="${sys:user.home}/bbs-logs/bbs-suspiciousip.%d{yyyy-MM-dd}.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS zzz} %p %c{1} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="30" />
        </RollingFile>

        <RollingFile
                name="Global"
                fileName="${sys:user.home}/bbs-logs/bbs-global.log"
                filePattern="${sys:user.home}/bbs-logs/bbs-global.%d{yyyy-MM-dd}.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS zzz} %p %c{1} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="30" />
        </RollingFile>

        <RollingFile
                name="Authorizations"
                fileName="${sys:user.home}/bbs-logs/bbs-authorizations.log"
                filePattern="${sys:user.home}/bbs-logs/bbs-authorizations.%d{yyyy-ww}.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS zzz} %p %c{1} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="30" />
        </RollingFile>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS zzz} %p %c{1} [%t] %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="eu.sblendorio.bbs.tenants.petscii.ClientChatGptPetscii" level="debug" additivity="false">
            <AppenderRef ref="ChatGptLog"/>
        </Logger>
        <Logger name="eu.sblendorio.bbs.tenants.ascii.ClientChatGptAscii" level="debug" additivity="false">
            <AppenderRef ref="ChatGptLog"/>
        </Logger>
        <Logger name="eu.sblendorio.bbs.tenants.petscii.Chat64" level="debug" additivity="false">
            <AppenderRef ref="HumanChatLog"/>
        </Logger>
        <Logger name="eu.sblendorio.bbs.tenants.ascii.ChatA1" level="debug" additivity="false">
            <AppenderRef ref="HumanChatLog"/>
        </Logger>
        <Logger name="eu.sblendorio.bbs.tenants.mixed.GeolocationCommons" level="debug" additivity="false">
            <AppenderRef ref="IpGeolocation"/>
        </Logger>
        <Logger name="eu.sblendorio.bbs.core.BbsInputOutput" level="debug" additivity="false">
            <AppenderRef ref="SuspiciousIp"/>
        </Logger>
        <Logger name="authorizations" level="debug" additivity="false">
            <AppenderRef ref="Authorizations"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Global" />
        </Root>
    </Loggers>
</Configuration>
